<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="header">List of Recipes</h1>
            </div>
          <% @recipes.each do |recipe| %>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <% if recipe.avatar.file.nil?%>
                  <div style="margin-bottom: 111px"><a href="/recipes/<%= recipe.id %>">No Photo Available,click here to enter the recipe.</a></div>
                <%else%>
                  <a class="thumbnail" href="/recipes/<%= recipe.id %>">
                      <img class="img-responsive" src="<%= recipe.avatar %>" alt="">
                  </a>
                <%end%>
                <h3>
                  <%= recipe.title %>
                </h3>
            </div>
          <% end -%>
        </div>
    </div>
  <div class="apple_pagination">
    <%= will_paginate @recipes, :container => false %>
  </div>



