

<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Ingredients</p>
                <div class="list-group">
                    <% @recipe.ingredients.each do |ingredient|%>
                    <p class="list-group-item"><%=ingredient.name%>:<%=ingredient.quantity%></p>
                    <% end -%>
                    <p class="lead">Serving:</p>
                    <p><%=@recipe.serving%> people</p>
                    <p class="lead">Preparation Time:</p>
                    <p><%=@recipe.preparation_time_hours%>Hours:<%=@recipe.preparation_time_minutes%>Minutes</p>
                    <p class="lead">Cooking Time:</p>
                    <p><%=@recipe.cooking_time_hours%>Hours:<%=@recipe.cooking_time_minutes%>Minutes</p>
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="<%=@recipe.avatar%>" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">by <%=@recipe.user.first_name %><%=@recipe.user.last_name %></h4>
                        <h4><a href="/recipes/<%=@recipe.id%>"><%=@recipe.title%></a>
                        </h4>

                        <p>Description</p>
                        <p><%=@recipe.description%></p>
                    </div>
                </div>

                  <% if current_user.id == @recipe.user.id || current_user.role == "admin"%>
                    <div class="text-right">

                        <a class="btn btn-success" href="/recipes/<%=@recipe.id%>/edit">Edit</a>
                    </div>
                  <% end -%>
                    <hr>



            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">