<ul class="nav navbar-nav flex">
  <%= link_to("Book", root_path , :class => "navbar-brand") %>
  <li class="nav-item ">
    <%if logged_in?%>
      <%= link_to("Home", users_path , :class => "nav-link") %>
    <%else%>
     <%= link_to("Home", root_path , :class => "nav-link") %>
    <%end%>
  </li>

  <% if logged_in? %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= truncate(current_user.last_name, :length => 17, :end_string => '') %>
        </a>
        <div class="dropdown-menu" aria-labelledby="user_menu">
          <%= link_to("Profile", edit_user_path(current_user), :class => "dropdown-item") %>
          <%= link_to("Sign Out", sign_out_path, method: :delete, :class => "dropdown-item") %>
        </div>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to("Sign In", sign_in_path , :class => "nav-link") %>
    </li>
      <li class="nav-item">
        <%= link_to("Sign Up", new_user_path, :class => "dropdown-item") %>
       </li>

  <% end %>
</ul>