<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



<body>
  <div class="container-fluid">
      <div class="row">
        <%= render :partial => "layouts/partials/messagebar" %>
      </div>
      <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <%= render :partial => "layouts/partials/navbar" %>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
      </div> <!-- Header -->

      <div class="row contant">
        <%= yield %>
      </div> <!-- School -->
  </div>
    <!-- Important For  Fonts Icons -->
    <%= javascript_include_tag 'https://use.fontawesome.com/0b77101dd2.js'%>
  </body>


</body>
</html>
